@{
    ViewData["Title"] = "Home";
}

<header class="bg-dark py-5">
    <div class="container" style="width: 100%">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Presenting our service in a whole new way around.</h1>
                    <p class="lead text-white-50 mb-4">
                        We are committed to delivering the best-in-class services in engineering, waterproofing, renovation, repair, and maintenance. Our primary focus is on putting our customers first and ensuring seamless, hassle-free experiences with cost-effective solutions.
                    </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-info btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder">Handyman Services</h2>
                <p>Couldn’t find the handyman for small job or they are too expansive? You can book the handyman using our appointment form in easy steps.</p>
                <a class="text-decoration-none btn btn-outline-info" href="#!">
                    Call to action
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                <h2 class="h4 fw-bolder">Transparency & Verified Experts</h2>
                <p>As you begin an appointment, you can see fixed prices and get prior estimates and also examine the backgrounds of all of our trained experts.</p>
                <a class="text-decoration-none btn btn-outline-info" href="#!">
                    Call to action
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">Professional Support</h2>
                <p>Our commitment to exceptional customer service goes beyond just providing top-notch services, ensuring that your experience with us is nothing short of outstanding.</p>
                <a class="text-decoration-none btn btn-outline-info" href="#!">
                    Call to action
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>