@model ServiceAppointmentSystem.Models.Entities.Service

@{
    ViewData["Title"] = "Services";
}

<partial name="_Notification" />

<h1 class="mt-4 mb-4">Service Index</h1>

<div class="row mb-3">
    <div class="col-6">
        <h2 class="text-primary">List of Service</h2>
    </div>
    <div class="col-6 text-end">
        <a class="btn btn-primary" asp-action="Upsert"><i class="fa-solid fa-plus"></i> &nbsp; Create A New Service</a>
    </div>
</div>

<div class="p-2 border rounded">
    <table id="tableData" class="table table-striped table-bordered" style="width:100%">
        <thead class="mt-2">
            <tr class="table-info">
                <th class="text-center">Title</th>
                <th class="text-center">Role</th>
                <th class="text-center">Base Price</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/service.js"></script>
}