@page
@model RegistrationsModel
@{
	ViewData["Title"] = "User Registration";
}

<h1 class="mt-3">@ViewData["Title"]</h1>

<partial name="_Notification" />

<div class="row">
	<div class="col-md-7">
		<form id="registerForm" class="row" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype = "multipart/form-data" >
			<hr />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-floating col-12 my-2">
				<input asp-for="Input.FullName" class="form-control" autocomplete="username" aria-required="true" />
				<label asp-for="Input.FullName" class="ps-4"></label>
				<span asp-validation-for="Input.FullName" class="text-danger"></span>
			</div>
			<div class="form-floating col-6 my-2">
				<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
				<label asp-for="Input.Email" class="ps-4"></label>
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<div class="form-floating col-6 my-2">
				<input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" />
				<label asp-for="Input.PhoneNumber" class="ps-4"></label>
				<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
			</div>
			<div class="form-floating col-6 my-2">
				<input asp-for="Input.RegionName" class="form-control" aria-required="true" />
				<label asp-for="Input.RegionName" class="ps-4"></label>
				<span asp-validation-for="Input.RegionName" class="text-danger"></span>
			</div>
			<div class="form-floating col-6 my-2">
				<input asp-for="Input.CityAddress" class="form-control" aria-required="true" />
				<label asp-for="Input.CityAddress" class="ps-4"></label>
				<span asp-validation-for="Input.CityAddress" class="text-danger"></span>
			</div>
			<div class="form-floating col-12 my-2">
				<div class="form-group">
					<select asp-for="Input.Service" asp-items="@Model.Input.Services" class="form-select">
					<option disabled selected>Select a Service</option>
				</select>
				</div>
			</div>
			<div class="form-floating col-6 my-2">
				<div class="form-group">
					<label asp-for="Input.ProfileImage" class="mb-2"></label>
					<input asp-for="Input.ProfileImage" class="form-control" type="file" accept=".png,.jpg,.jpeg,.gif,.tif">
				</div>
			</div>
			<div class="form-floating col-6 my-2">
				<div class="form-group">
					<label asp-for="Input.Resume" class="mb-2"></label>
					<input asp-for="Input.Resume" class="form-control" type="file" name="resume" accept="application/pdf">
				</div>
			</div>
			<div class="form-floating col-6 my-2">
				<div class="form-group">
					<label asp-for="Input.Certification" class="mb-2"></label>
					<input asp-for="Input.Certification" class="form-control" type="file" name="certification" accept="application/pdf">
				</div>
			</div>
			<div class="form-floating col-12 my-2">
				<button id="registerSubmit" type="submit" class="w-100 btn btn-primary">Request a Registration</button>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
